p{font-size:18px;
  font-family:arial;
  }
  body{background-image:url(pexels.jpeg);
      }
  p{margin:28px;
    margin-left; 
    margin-right;
	margin-bottom;
	margin-top;}    
  	
  	
  	